h1= title
p Is it worth seeing in 3D?
- each movie in data.movies
  .movie
    .title= movie.title
    .up('data-id':movie.id) :) #{movie.votes.up}
    .down('data-id':movie.id) :( #{movie.votes.down}
