body {
  padding : 50px;
  font    : 14px 'Lucida Grande', Helvetica, Arial, sans-serif;

  -webkit-user-select : none;
  -khtml-user-select  : none;
  -moz-user-select    : none;
  -o-user-select      : none;
  user-select         : none;
}

.movie {
  overflow    : hidden;
  position    : relative;
  height      : 30px;
  margin      : 0 0 1px 0;
  font-weight: bold;
  line-height : 30px;
  text-align  : center;
  background  : #ddd;
}

.up, .down {
  position    : absolute;
  top         : 0;
  left        : 0;
  height      : 30px;
  color       : #fff;
  padding     : 0 10px;
  cursor      : pointer;
  background  : blue;
}

.down {
  right      : 0;
  left       : auto;
  background : red;
}
